<div class="search-modal" id="modal-outer">
	<div class="close-button">
		<i class="fa fa-close"></i>
	</div>
	<div class="popup-inner">
				<form id="search-form">
					<input type="text" id="search-in" placeholder="Type to search" />
					<i class="fa fa-search input-icon"></i>
				</form>
				<div id="search-results">
					<ul class=""></ul>
				</div>
	</div>
</div>
