html, body {
	background-color: #fdf6e3;
	color: #444;
}

a, a:visited, a:active {
	color: #080;
	border-color: #eee8d5;
}

a:hover {
	background-color: #484;
	border-color: #4A4;
	color: #020;
}

h1, h2, h3 {
	color: #080;
}

h1 a, h1 a:visited, h1 a:active {
	color: #080;
}

h1 a:hover {
	background-color: #eee8d5;
	border-color: #eee8d5;
}

article h1 a.anchor {
	color: #2aa198;
}

blockquote {
	border-color: #080;
}

#sidebar a:hover {
	color: #020;
	background-color: ##eee8d5;
}

#footer {
	border-color: #eee8d5;
}

.post-content img {
        box-shadow: 10px 10px 5px #030;
}

code {
        background-color: #fdf6e3;
        color: #030;
        border: 1px solid #060;
        border-radius: 3px 3px 3px 3px;
        padding-left: 2px;
        padding-right: 3px;
        white-space: pre;
}

pre code {
        display: block;
        overflow: auto;
        padding: 6px 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        white-space: pre;
        background: linear-gradient( rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.7) ),
                url('../img/stripe.gif');
}

pre.code {
        background-color: #000;
        color: #93a1a1;
        border: 1px solid #0a0;
        border-radius: 3px 3px 3px 3px;
        display: block;
        overflow: auto;
        padding: 6px 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        white-space: pre;
        background: linear-gradient( rgba(255, 255, 255, 0.9),
                rgba(255, 255, 255, 0.7) ),
                url('../img/stripe.gif');
}

div.prism-show-language-label {
        text-align: right;
        border: 1px solid #0a0;
        border-bottom-width: 0px;
        border-radius: 3px 3px 3px 3px;
        font: 1.2em 'Roboto Mono';
        padding-right: 10px;
        background: linear-gradient( rgba(255, 255, 255, 0.7),
                rgba(255, 255, 255, 0.9) ),
                url('../img/stripe.gif');
}

/*
 * Cursor blinking
 */
.blinking-cursor {
  font: 1em 'Roboto Mono';
  font-weight: 100;
  color: #2E3D48;
  -webkit-animation: 1.5s blink step-end infinite;
  -moz-animation: 1.5s blink step-end infinite;
  -ms-animation: 1.5s blink step-end infinite;
  -o-animation: 1.5s blink step-end infinite;
  animation: 1.5s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.1);
  }
  50% {
    color: #FFF; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
  }
}

@-moz-keyframes blink {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.1);
  }
  50% {
    color: #FFF; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.1);
  }
  50% {
    color: #FFF; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.1);
  }
  50% {
    color: #FFF; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
  }
}

@-o-keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.1);
  }
  50% {
    color: #FFF; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
  }
}
/*
 * End Cursor Blinking
 */
