html, body {
	background-color: #000;
	color:            #aaa;
}

a, a:visited, a:active {
	color:        #0a0;
	border-color: #060;
}

a:hover {
	background-color: #333;
	border-color:     #0a0;
	color:            #0a0;
}

h1, h2, h3 {
	color: #00a;
}

h1 a, h1 a:visited, h1 a:active {
	color: #0a0;
}

h1 a:hover {
	background-color: #333;
	border-color: #0a0;
	color:        #0a0;
}

article h1 a.anchor {
	color: #2aa198;
}

blockquote {
	border-color: #0a0;
}

.post-content img {
	box-shadow: 10px 10px 5px #0a0;
}

#sidebar a:hover {
	color:            #aaa;
	background-color: #000;
}

#footer {
	border-color: #0a0;
}

code {
        background-color: #000;
        color: #93a1a1;
        border: 1px solid #0a0;
        border-radius: 3px 3px 3px 3px;
        padding-left: 2px;
        padding-right: 3px;
        white-space: pre;
}

pre code {
        display: block;
        overflow: auto;
        padding: 6px 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        white-space: pre;
        background: linear-gradient( rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.6) ),
                url('../img/stripe.gif');
}

pre.code {
        background-color: #000;
        color: #93a1a1;
        border: 1px solid #0a0;
        border-radius: 3px 3px 3px 3px;
        display: block;
        overflow: auto;
        padding: 6px 10px;
        margin-top: 10px;
        margin-bottom: 15px;
        white-space: pre;
        background: linear-gradient( rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.6) ),
                url('../img/stripe.gif');
}

/*
 *  * Cursor blinking
 *   */
.blinking-cursor {
  font: 1em 'Roboto Mono';
  font-weight: 100;
  color: #0f0;
  -webkit-animation: 1.5s blink step-end infinite;
  -moz-animation: 1.5s blink step-end infinite;
  -ms-animation: 1.5s blink step-end infinite;
  -o-animation: 1.5s blink step-end infinite;
  animation: 1.5s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.1);
  }
  50% {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.5);
  }
}

@-moz-keyframes blink {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.1);
  }
  50% {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.5);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.1);
  }
  50% {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.5);
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.1);
  }
  50% {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.5);
  }
}

@-o-keyframes "blink" {
  from, to {
    color: #333; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.1);
  }
  50% {
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 255, 0, 0.5);
  }
}
/*
 *  * End Cursor Blinking
 *   */

