.search-modal .close-button {
  background: #333;
  color: white;
  position: absolute;
  top:   1em;
  right: 1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
.search-modal .close-button:hover {
  background: #f44;
}
.search-modal {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=(0));
  visibility: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.search-modal .popup-inner {
  background: #000;
  border: 1em #0a0;
  border-style: double;
  height: 80%;
  margin: 48px auto;
  max-height: 80%;
  max-width: 700px;
  overflow: hidden;
  overflow-y: auto;
  padding: 30px;
  width: 80%;
}
.search-modal .popup-inner #search-form {
  background: #333;
  display: block;
  position: relative;
  padding-right: 50px;
}
.search-modal .popup-inner #search-form input[type="text"] {
  height: 32px;
  width: 100%;
  color: white;
  background-color: transparent;
  padding-left: 5px;
}
.search-modal .popup-inner #search-form i {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  height: 38px;
  line-height: 38px;
  width: 38px;
  text-align: center;
  background: #000;
}
.search-modal .popup-inner #search-results {
  margin-top: 1.5em;
}
.search-modal .popup-inner #search-results ul {
  padding: 0;
  margin: 0;
}
.search-modal .popup-inner #search-results ul li {
  list-style: none;
}
.search-modal .popup-inner #search-results ul li a {
  color: #44f;
}
.search-modal .popup-inner #search-results ul li a i {
  font-size: 1em;
  margin-right: 0.5em;
}
.search-modal .popup-inner #search-results ul li a:hover {
  color: #f44;
}
.search-modal .popup-inner #search-results ul li.info {
  font-weight: 500;
}
.search-modal.visible {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
  visibility: visible;
}
#search-open {
  right: 0;
  margin-right: 15px;
  line-height: 48px;
  font-size: 18px;
  padding: 0 15px;
  color: #ffffff;
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}
#search-open:hover {
  background: #101010;
  color: #ffffff;
}
